In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("All players stats.csv")
df.head()

,Rank,Player,GAMES,INNS,NOT OUTS,RUNS,HIGH SCORE,High Score Not Out,AVG,50s,100s,STRIKE RATE
0,1,James Burgess,13,12,5,386,101,Yes,55.14,3,1,91.69
1,2,Darren McGoldrick,10,10,1,370,68,No,41.11,3,0,92.75
2,3,Vivin Mathew,8,8,2,204,63,Yes,34,1,0,54.07
3,4,Tommy Howton,9,8,3,189,46,Yes,37.8,0,0,93.22
4,5,shahrokh navaee,6,6,1,173,85,No,34.6,1,0,94.62

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                28 non-null     int64
 1   Player              28 non-null     object
 2   GAMES               28 non-null     int64
 3   INNS                28 non-null     int64
 4   NOT OUTS            28 non-null     int64
 5   RUNS                28 non-null     int64
 6   HIGH SCORE          28 non-null     int64
 7   High Score Not Out  28 non-null     object
 8   AVG                 28 non-null     object
 9   50s                 28 non-null     int64
 10  100s                28 non-null     int64
 11  STRIKE RATE         28 non-null     float64
dtypes: float64(1), int64(8), object(3)
memory usage: 2.8+ KB