In [9]:
# Importing data analysis modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# Reading in the dataframe using pandas
df = pd.read_csv("All players stats.csv", index_col="Rank")
df

,Player,GAMES,INNS,NOT OUTS,RUNS,HIGH SCORE,High Score Not Out,AVG,50s,100s,STRIKE RATE
Rank,,,,,,,,,,,
1,James Burgess,13,12,5,386,101,Yes,55.14,3,1,91.69
2,Darren McGoldrick,10,10,1,370,68,No,41.11,3,0,92.75
3,Vivin Mathew,8,8,2,204,63,Yes,34,1,0,54.07
4,Tommy Howton,9,8,3,189,46,Yes,37.8,0,0,93.22
5,shahrokh navaee,6,6,1,173,85,No,34.6,1,0,94.62
6,Daniel Cadd,11,9,2,142,46,No,20.29,0,0,85.32
7,Luke Andrews,10,8,0,126,26,No,15.75,0,0,61.61
8,Chris Crowfoot,7,7,0,115,43,No,16.43,0,0,63.54
9,Darren Laker,10,9,2,114,59,No,16.29,1,0,65.38
10,Mark Whiting,7,7,0,107,31,No,15.29,0,0,32.82
11,Alexander Priest,13,10,0,96,31,No,9.6,0,0,68.09
12,James Ainsley,8,8,0,90,25,No,11.25,0,0,35.11
13,Sam Quigley,9,7,1,83,40,Yes,13.83,0,0,63.85
14,Rob Firth,13,7,2,74,31,Yes,14.8,0,0,55.26
15,Ivan Baker,6,6,2,73,23,No,18.25,0,0,35.10
16,Toby Daines,5,3,2,67,48,Yes,67,0,0,85.90
17,Euan Stoddart,11,11,1,58,22,No,5.8,0,0,41.51
18,Paul Davis,10,7,3,57,18,No,14.25,0,0,60.00
19,Mark Whitling,11,9,1,48,15,No,6,0,0,49.38
20,Andrew Cowley,7,6,2,41,15,No,10.25,0,0,18.75
21,Euan West,10,6,3,40,21,No,13.33,0,0,57.14
22,Anup Sen,7,3,2,37,15,Yes,37,0,0,31.03
23,Arunkumar Sathiamoorthy,18,10,5,35,10,Yes,7,0,0,61.22
24,James Crowfoot,11,9,1,31,8,No,3.88,0,0,20.00
25,Richard Doyle,6,4,3,29,8,Yes,29,0,0,40.00
26,Jack Obbard,4,3,1,23,18,No,11.5,0,0,45.10
27,Christian Brown,4,4,0,11,5,No,2.75,0,0,39.29
28,Lucas Maidstone,9,3,3,7,6,Yes,-,0,0,22.58

In [11]:
# Dropping column not needed for data analysis
df.drop('High Score Not Out', axis=1, inplace=True)
df.head()

,Player,GAMES,INNS,NOT OUTS,RUNS,HIGH SCORE,AVG,50s,100s,STRIKE RATE
Rank,,,,,,,,,,
1,James Burgess,13,12,5,386,101,55.14,3,1,91.69
2,Darren McGoldrick,10,10,1,370,68,41.11,3,0,92.75
3,Vivin Mathew,8,8,2,204,63,34,1,0,54.07
4,Tommy Howton,9,8,3,189,46,37.8,0,0,93.22
5,shahrokh navaee,6,6,1,173,85,34.6,1,0,94.62

In [12]:
# Check data types of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 1 to 28
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       28 non-null     object
 1   GAMES        28 non-null     int64
 2   INNS         28 non-null     int64
 3   NOT OUTS     28 non-null     int64
 4   RUNS         28 non-null     int64
 5   HIGH SCORE   28 non-null     int64
 6   AVG          28 non-null     object
 7   50s          28 non-null     int64
 8   100s         28 non-null     int64
 9   STRIKE RATE  28 non-null     float64
dtypes: float64(1), int64(7), object(2)
memory usage: 2.4+ KB

In [14]:
# Changing object data type to float in order to perform data analysis
df['AVG'] = pd.to_numeric(df['AVG'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 1 to 28
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       28 non-null     object
 1   GAMES        28 non-null     int64
 2   INNS         28 non-null     int64
 3   NOT OUTS     28 non-null     int64
 4   RUNS         28 non-null     int64
 5   HIGH SCORE   28 non-null     int64
 6   AVG          27 non-null     float64
 7   50s          28 non-null     int64
 8   100s         28 non-null     int64
 9   STRIKE RATE  28 non-null     float64
dtypes: float64(2), int64(7), object(1)
memory usage: 2.4+ KB

In [15]:
# Gathering extra statistics using describe function
df.describe()

,GAMES,INNS,NOT OUTS,RUNS,HIGH SCORE,AVG,50s,100s,STRIKE RATE
count,28.000000,28.000000,28.000000,28.000000,28.000000,27.000000,28.000000,28.000000,28.000000
mean,9.035714,7.142857,1.714286,100.928571,33.107143,20.821852,0.321429,0.035714,55.868929
std,3.108914,2.534419,1.383960,93.973964,24.377189,15.999843,0.818923,0.188982,23.117714
min,4.000000,3.000000,0.000000,7.000000,5.000000,2.750000,0.000000,0.000000,18.750000
25%,7.000000,6.000000,1.000000,39.250000,15.000000,10.750000,0.000000,0.000000,38.245000
50%,9.000000,7.000000,2.000000,73.500000,25.500000,15.290000,0.000000,0.000000,56.200000
75%,11.000000,9.000000,2.250000,117.750000,46.000000,31.500000,0.000000,0.000000,66.057500
max,18.000000,12.000000,5.000000,386.000000,101.000000,67.000000,3.000000,1.000000,94.620000

In [16]:
# Getting the shape of the dataframe (rows, columns)
df.shape

(28, 10)